<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> FoodJoy</title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/main.css" /> 

	</head>

	<body>

		<div class="container">

			<section class="bloque">

				<!-- FORMULARIO DE REGISTRO -->
				<div class="columna">


				</div> <!-- Cierre del registro-->

				<div class="columna">

					<h1> ¡¡HA OCURRIDO UN ERROR!! </h1>

					<form action="/" method="get">

						<button type="submit">Volver a Inicio</button>

					</form>


				</div> <!-- Cierre del titulo-->
				

				<!-- FORMULARIO DE LOGIN -->
				<div class="columna" id="login">
					
				</div> <!-- Cierre del login-->

			</section> <!-- Cierre del bloque-->

		</div> <!-- Cierre del div container -->

	</body>
</html>
