<!-- views/index.ejs -->
<!doctype html>

<html>
<head>
	<title>FOOD JOY</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- cargar bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- cargar fontawesome -->
	<link rel="stylesheet" href="css/style.css"> 
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>



<div class="container">

	
	<div> <!--class="jumbotron text-center"-->
		<h1><span class="fa fa-cutlery"></span><br> FOOD JOY</h1>
		<!--La clase fa fa-umbrella usa iconos de http://fortawesome.github.io/Font-Awesome, cambiando el nombre podremos ponerle el icono que queramos dentro de los que nos ofrecen
			fa-cutlery - tenedor y cuchillo

		-->

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Registro</a>
	</div>

</div>
</body>
</html>

