<!doctype html>
<html>
	<head>
		<title>Perfil de usuario </title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 

	</head>

	<body>
		<div id="container">

			<nav id="menu_nav">

				<a href="/logout">Logout</a>

			</nav> <!-- Cierre del menu nav-->

			<div id="user">

				<h1><%= user.local.email %></h1>
				
			</div> <!-- Cierre del user -->


			
			<div id="info">

				<!-- INFORMACIÓN DEL USUARIO -->
				<h3>Datos del usuario </h3>

				<p>
					<strong>Usuario</strong>: <%= user.local.email %>
				</p>

			</div> <!-- Cierre del dataUser -->

			<!-- Botón para añadir las recetas-->
			<div id="boton">

				<form action="/agregarRecetas" method="post">

					<h3> Añade recetas </h3>

					<div id="nombre">
							<label> Nombre </label> <br />
							<input type="text" name="nombre">
					</div> <!-- Cierre del nombre-->

					<div id="ingredientes">
							<label> Ingredientes </label> <br />
							<input type="text" name="ingredientes">
					</div> <!-- Cierre del ingredientes-->

					<button type="submit"> Añadir </button>

				</form>

			</div> <!-- Cierre del listaRecetas -->



			<!-- Botón para listar las recetas-->
			<div id="boton">

				<form action="/listaRecetas" method="get">

					<button type="submit"> Lista de recetas</button>

				</form>

			</div> <!-- Cierre del listaRecetas -->
			
						<!-- Botón para borrar las recetas-->
			<div id="boton">

				<form action="/borrarRecetas" method="post">

					<h3> Borra recetas </h3>


					<div id="nombre">
							<label> Introduce el nombre de la receta </label> <br />
							<input type="text" name="nombre">
					</div> <!-- Cierre del nombre-->


					<button type="submit"> Borrar </button><br /><br />

				</form>

			</div> <!-- Cierre de borrarRecetas -->


			<!-- Formulario para modificar las recetas-->
			<div id="boton">

				<form action="/modificarRecetas" method="post">

					<h3> Modifica recetas </h3>


					<div id="nombre">
							<label> Introduce el nombre de la receta </label> <br />
							<input type="text" name="nombre">
					</div> <!-- Cierre del nombre-->


					<button type="submit"> Enviar </button><br /><br />

				</form>

			</div> <!-- Cierre de borrarRecetas -->
			

		</div> <!-- Cierre del container -->
	</body>
</html>
