<!doctype html>
<html>
	<head>
		<title> Perfil de usuario </title>

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 

		<style type="text/css">

			input {

				width: 200px;
	
			}

		</style>

	</head>

	<body>
		<div id="container">

			<% include menu_nav.html %>

			<div id="user">

				<h1><%= user.local.email %></h1>
				
			</div> <!-- Cierre del user -->

			<section id="bloque">
			
				<!-- Botón para añadir las recetas-->
				<div id="boton">

					<form action="/agregarRecetas" method="post">

						<h3> Añadir </h3>

						<div id="nombre">
								<label> Nombre </label> <br />
								<input type="text" name="nombre">
						</div> <!-- Cierre del nombre-->

						<div id="ingredientes">
								<label> Ingredientes </label> <br />
								<input type="text" name="ingredientes">
						</div> <!-- Cierre del ingredientes-->

						<button type="submit"> Añadir </button>

					</form>

				</div> <!-- Cierre del añadirRecetas -->

				
				<!-- Formulario para modificar las recetas-->
				<div id="boton">

					<form action="/modificarRecetas" method="post">

						<h3> Modificar </h3>


						<div id="nombre">
								<label> Nombre </label> <br />
								<input type="text" name="nombre">
						</div> <!-- Cierre del nombre-->


						<button type="submit"> Buscar </button><br /><br />

					</form>

				</div> <!-- Cierre de modificarRecetas -->

				<!-- Botón para borrar las recetas-->
				<div id="boton">

					<form action="/borrarRecetas" method="post">

						<h3> Borrar </h3>


						<div id="nombre">
								<label> Nombre </label> <br />
								<input type="text" name="nombre">
						</div> <!-- Cierre del nombre-->


						<button type="submit"> Borrar </button><br /><br />

					</form>

				</div> <!-- Cierre de borrarRecetas -->
			
			</section> <!-- Cierre del bloque-->

		</div> <!-- Cierre del container -->
	</body>
</html>
