<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-cutlery"></span><br>Perfil de <%= user.local.email %></h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">

			<!-- INFORMACIÓN DEL USUARIO -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Datos del usuario </h3>

						<p>
							<strong>Usuario</strong>: <%= user.local.email %><br>
							<strong>Contraseña</strong>: <%= user.local.password %>
						</p>

				</div>
			</div>

		</div><br />

		<!-- Botón para añadir las recetas-->
		<div id="boton">

			<form action="/agregarRecetas" method="post">

				<h3> Añade recetas </h3>

				<div id="nombre">
						<label> Nombre </label> <br />
						<input type="text" name="nombre">
				</div> <!-- Cierre del nombre-->


				<br />

				<div id="ingredientes">
						<label> Ingredientes </label> <br />
						<input type="text" name="ingredientes">
				</div> <!-- Cierre del ingredientes-->

				<br />
				<button type="submit"> Añadir </button><br /><br />

			</form>

		</div> <!-- Cierre de agregarRecetas -->

    	<form action="/recetas" method="get">

    		<h3> Lista de recetas </h3>

			<button type="submit" > Recetas</button>

		</form> <br />


		<!-- Botón para borrar las recetas-->
		<div id="boton">

			<form action="/borrarRecetas" method="post">

				<h3> Borra recetas </h3>


				<div id="nombre">
						<label> Introduce el nombre de la receta </label> <br />
						<input type="text" name="nombre">
				</div> <!-- Cierre del nombre-->

				<br />

				<button type="submit"> Borrar </button><br /><br />

			</form>

		</div> <!-- Cierre de borrarRecetas -->

	</div>
</body>
</html>
