<!doctype html>
<html>
	<head>
		<title>Recetas</title>

		<!--  Importa el css de bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

		<style>

			body { 
				padding-top:80px;
				word-wrap:break-word;
			}
			
		</style>
	</head>

	<body>
		<div class="container">

			<div class="page-header text-center">
				<h1><span></span><br>Lista de recetas</h1>
			</div>

			<div class="col-sm-6">
					<div class="well">
						<h3><span></span> Recetas </h3>

							<!-- Mostrar una lista de recetas, sólo el campo nombre -->
							<ul>
								<% for(var i = 0; i<recetas.length; i++){ %>
								    <li><%= recetas[i].nombre %></li>
								<% } %>
							</ul>

					</div>
				</div>
			</div>
			
			<form action="/profile" method="get">

				<div class="form-group">	
				</div>
			 
				<button type="submit" > Perfil </button>

			</form>
		</div>
</body>
</html>