<!doctype html>
<html>
	<head>
		<title>Recetas</title>

		<!--  Importa el css de bootstrap 
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->

		<!-- Importamos el estilo css -->
		<link rel="stylesheet" href="css/profile.css" /> 

	</head>

	<body>
		<div id="container">

			<nav id="menu_nav">

				<a href="/logout">Logout</a>

			</nav> <!-- Cierre del menu nav-->

			<div id="titulo">

				<h1>Lista de recetas</h1>

			</div>  <!-- Cierre del titulo -->


			<!-- Lista de recetas  -->
			<div id="info">

				<!-- INFORMACIÓN DE RECETAS -->
				<h3> Recetas</h3>

				<!-- Mostrar una lista de recetas, sólo el campo nombre -->
				<ul>
					<% for(var i = 0; i<recetas.length; i++){ %>
					    <li><%= recetas[i].nombre %></li>
					<% } %>
				</ul>

			</div> <!-- Cierre de recetas -->



			<!-- Botón para ir al perfil-->
			<div id="boton">

				<form action="/profile" method="get">

					<button type="submit"> Perfil </button>

				</form>

			</div> <!-- Cierre del botón perfil -->

		</div> <!-- Cierre del container -->
</body>
</html>