/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{

	margin: 0px;
	padding: 0px;

}


/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */


/***********************************************************************************************
									   		Selectores por CLASE 
***********************************************************************************************/


/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

#menu_nav{

	background-color: black;
	padding: 2px;

}

#menu_nav a{

	text-decoration: none;
	color: white;
	margin-left: 10px;
}

#menu_nav a:hover{

	color: #D8D8D8;

}

#info{

	width: 17%;
	margin-left: 50px;
	padding: 10px;
}