/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

#nombre{

	margin-bottom: 10px;

}

#ingredientes{


	margin-bottom: 10px;
}

#boton{

	margin-left: 140px;

}